@import "app/shared/theme/colors.scss";

.searchBar {
    background-color: $purple-full-dark;
    height: 40px;
    width: 75%;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px 0px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    input {
        border-radius: 20px;
        height: 100%;
        padding: 20px;
        color: #f9f9f9;
        background-color: $purple-light;
        

        &::placeholder {
            color: rgba(250, 235, 215, 0.473);
        }
    }

    &__icons {
        margin: 0px 0px 0px 10px;

        &:hover {
            cursor: pointer;
        }
    }
    
}