@import "app/shared/theme/colors.scss";

.formInput {
    display: flex;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;

    width: 60%;

    margin-bottom: 30px;

    label {
        span {
            color: red;
        }
    }

    input {
        background-color: $purple-full-dark;
        height: 30px;
        width: 100%;
        border-bottom: 3px solid #f9f9f9;
        color: #f9f9f9;
    }

    .errorMessage {
        color: white;
    }
}