@import "app/theme/colors.scss";
@import "app/theme/breakpoints.scss";

.login {
    box-sizing: border-box;
    background-color: $purple-full-dark;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: #f9f9f9
    }

    &__login-container {
        background-color: $purple-light;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        @media screen and (max-width: $mobile) {
            width: 90%;
            height: 60%;
        }


        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            width: 90%;
            height: 60%;
        }


        @media screen and (min-width: $tablet) and (max-width: $desktop ) {
            width: 60%;
            height: 60%;
        }

        @media screen and (min-width: $desktop) {
            width: 60%;
            height: 60%;
        }


    }

    &__itens-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: yellow;

        @media screen and (max-width: $mobile) {
            width: 200px;

        }


        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            width: 400px;

        }


        @media screen and (min-width: $tablet) and (max-width: $desktop ) {
            width: 600px;
        }

        @media screen and (min-width: $desktop) {
            width: 600px;
            ;
        }
    }

    &__button-container {

        align-self: flex-end;

    }
}