@import "app/shared/theme/colors.scss";
@import "app/shared/theme/breakpoints.scss";


$login-container-width: 500px;
$login-container-height: 600px;

$itens-proportion-height: 80%;
$itens-proportion-widht: 80%;



.login {
    box-sizing: border-box;
    background-color: $purple-full-dark;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;

    &__login-container {
        background-color: $purple-light;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        @media screen and (max-width: $mobile) {
            width: 90%;
            height: 80%;
        }

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            width: 80%;
            height: 70%;
        }

        @media screen and (min-width: $tablet) and (max-width: $desktop ) {
            width: $login-container-width;
            height: $login-container-height;
        }

        @media screen and (min-width: $desktop) {
            width: $login-container-width;
            height: $login-container-height;
        }
    }

    &__itens-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;


        @media screen and (max-width: $mobile) {
            width: $itens-proportion-widht;
            height: $itens-proportion-height;
        }

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            width: $itens-proportion-widht;
            height: $itens-proportion-height;
        }

        @media screen and (min-width: $tablet) and (max-width: $desktop ) {
            width: $itens-proportion-widht;
            height: $itens-proportion-height;
        }

        @media screen and (min-width: $desktop) {
            width: $itens-proportion-widht;
            height: $itens-proportion-height;
        }
    }

    &__title {
        margin-bottom: 50px;
        color: #f9f9f9;
    }

    &__link-forgot-password {
        margin-top: 20px;
        align-self: flex-end;
        font-size: 1rem;
    }
}