@import "app/shared/theme/colors.scss";
@import "app/shared/theme/breakpoints.scss";

.asideHeader {
    margin: 0px 10px;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__toggleButton {
        color: #f9f9f9;

        &:hover {
            cursor: pointer;
            color: $highlight-color;
        }

        &__open {
            transform: rotateY(180deg);
        }
    }

    &__icon {
        height: 70px;
        width: 70px;
        background-color: #f9f9f9;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0px 15px;
    }

    &__userInfo {
        color: #f9f9f9;

        h4 {
            margin: 0px;
            margin-bottom: 5px;
        }
    }
}



.close {
    display: none;
}